@import "compass/utilities/general/clearfix";

.cssClass {
    .listItem {
        position: relative;
        .copyright {
            background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
            bottom: 0;
            font-size: 10px;
            color: #666666;
            padding: 2px 8px;
            position: absolute;
            right: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    a {
        &.listSwitchPrevious {
            left: 10px;
            width: 50px;
            background: url('/assets/web/themes/Theme/images/arrowBigLeft.png') left center no-repeat;
            background-size: 40%;
        }
        &.listSwitchNext {
            right: 10px;
            width: 50px;
            background: url('/assets/web/themes/Theme/images/arrowBigRight.png') right center no-repeat;
            background-size: 40%;
        }
    }
}