.cssClass {
    .kwcNewsListView {
        .entry {
            border-bottom: 1px solid #E1E1E1;
            &.last {
                border-bottom: none;
            }
            .teaser {
                padding: 0;
                margin: 0;
                p {
                    span.readMoreLink {
                        a {
                            color: var(secColor);
                        }
                    }
                }
            }

            .publishDate {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}